:root{
  --ftcolor1 :#ffffff;
  --ftcolor2 :#11007F;
}
#id0{
  background-color: var(--ftcolor2);
  color: var(--ftcolor1);
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
#map{
  height: 530px;
  width: 100%;
  margin-top: 5px;
}
